body.body--index 
{
  position: relative;
  margin: 0;
  height: 420vh;
  background: #FFFFFF;
  overflow-x: hidden;
  z-index: -8000;

    .container
  {
    position: relative;
  }
  /* Nav Bar */
  .container__navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background: #F87D42;

    .navbar__research 
    {
      margin-left: 28%;
      width: 17vw;
      height: 5vh;
      background: #fff;
      border: 2px #000000 solid;

      input 
      {
        outline:0;
        border:0;
        margin:0;
        height:24px;
        float:left;
        display:block;
      }

      input[type=text] 
      {
        font:300 0.7rem 'Josefin Sans', sans-serif;
        background:none;
        width:180px;
        padding:0 9px;
        color:#666;
      }
    }
    .navbar__magnifyingglass
    {
      img
      {
      width: 2vw;
      position: absolute;
      top: 3.6vh;
      left: 45.5vw;
      }
    }
    .navbar__logo
    {
      width: 3vw;
      height: 7vh;
      border-radius: 50%;
      margin-left: 12%;
      border: 2px solid #fff;
    }
    .navbar__profil
    {
      img 
      {
        width: 3vw;
        height: 6vh;
        position: absolute;
        top: 2.5vh;
        right: 4vw;
      }
    }
  }


  /* Side Bar */
  .container__sidebar {
    position: fixed;
    width: 17vw;
    z-index: 2;
    overflow-y: scroll;
    height: 100%;
    background: #1a1a1a;

    .sidebar__avatarpicture 
    {
      transform: translate(9%, 50%);
      display: flex;
      justify-content: center;
      margin: auto;
      height: 21vmin;

      img 
      {
        border-radius: 50%;
        width: 10vw;
      }

      .avatarpicture__pseudo 
      {
        font-family: 'Josefin Sans',sans-serif;
        color: #fff;
        margin: auto 0;
        transform: translate(-7vw, 17vh);
        font-size: 1em;
      }   
    }
    .sidebar__topics 
      {
        margin-top: 85%;
        font-size: 1.2rem;

        ul
        {
          li 
          {
            font-family: 'Josefin Sans',sans-serif;
            color: #fff;
            list-style: none;
            padding: 9vh 0;
            margin: auto 0;
            border-top: 2px solid #fff;
            height: 22vh;
            display: flex;
            align-items: center;
            a 
            {
              margin-left: 12%;
              text-decoration: none;
            }
            img
            {
              width: 8vmin;
              height: 8vmin;          
              right: 2vw;
              position: absolute;
            }   
            .topics__iconcontroller
            {
              width: 5.3vmin;
              height: 4vmin;          
              position: absolute;
              right: 2.6vw;
            }    
            .topics__iconpencil, .topics__iconcook, .topics__icontongue, .topics__iconsport, .topics__iconmusic
            {
              width: 4vmin;
              height: 5vmin;          
              position: absolute;
              right: 2.9vw;
            }      
            .topics__iconscissors
            {
              width: 3vmin;
              height: 6vmin;
              position: absolute;
              right: 3.1vw;
            }    
          }
          .topics__mytopics
          {
            background: #DB3951;
          }

          .topics__myclubs
          {
            background: #F87D42;
          }
        }
      }
  }


  /* Main */


  .main
  {
    width: 83vw;
    height: auto;
    position: absolute;
    left: 17vw;
    top: 12vh;
    display: flex;
    justify-content: center;
    z-index: -6;

      
    .main__backgroundimg
    {
      width: 100%;
      z-index: -222;
      height: 470vh;
      background-size: 100%;
      background-image: url(../src/background_space.png);
      background-repeat: repeat-y;
    }

    .main__spacemanimg
    {    
      position: absolute;
      left: -35vw;
      top: 10vh;
      width: 187vw;
      height: 67vh;

    }
    .main__title
    {
      position: absolute;
      background: #00123f;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 36px;
      width: 42vw;
      height: 14vh;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 16vh;

      h2
      {
        font-family: "Bungee",sans-serif;
        font-size: 2.8rem;
        color: white;
        text-align: center;
        vertical-align: middle;
      }
    }
    .main__posts
    {
      display: flex;
      position: absolute;
      top: 62vh;
      width: 70vw;
      justify-content: space-between;
      flex-wrap: wrap;

      div
      {
        margin-bottom: 8vh;
      }

      .posts__post1 , .posts__post14
      {
        background: #FFFFFF;
        width: 16vw;
        height: 35vh;
      }
      .posts__post1
      {
        background: #FFFFFF;
        width: 16vw;
        height: 35vh;
        position: relative;
        .post1__elements
        {
          margin-top: 1vh; 
          img
          {
            width: 3vw;
            position: absolute;
            top: 1%;
            left: 5%;
            border-radius: 50%;
          }
          .post1__elements__atsign
          {
            color: #38D0FF;
            font-family: 'Josefin Sans',sans-serif;
            position: absolute;
            left: 26%;
            top: 2%;
          }
          .post1__elements__text
          {
            font-family: 'Josefin Sans',sans-serif;
            position: absolute;
            left: 26%;
            top: 13%;
            font-size: 0.7rem;
          }
          .iframe
          {
            position: absolute;
            top: 22%;
            left: 5%;
          }
          .post1__elements__likes
          {
            display: flex;
            justify-content: space-around;
            width: 100%;
            bottom: -19%;
            position: absolute;
            font-family: 'Josefin Sans',sans-serif;
            font-size: 0.5rem;
            p 
            {
              font-family: 'Josefin Sans',sans-serif;
            }
          }
        }
      }
      .posts__post2
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post2__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post2__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post2__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post3
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post3__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post3__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post3__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post4 
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post4__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post4__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post4__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post5
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post5__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post5__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post5__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post6
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post6__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post6__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post6__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post7
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post7__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post7__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post7__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post8
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post8__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post8__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post8__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post9
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post9__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post9__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post9__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post10
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post10__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post10__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post10__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post11
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post11__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post11__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post11__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post12
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post12__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post12__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post12__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post13
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post13__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post13__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post13__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post14
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        img
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post14__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post14__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .iframe
        {
          position: absolute;
          top: 22%;
          left: 5%;
        }
        .post14__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post15
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;

        .post15__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post15__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post15__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post15__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post15__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post16
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;

        .post16__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post16__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post16__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post16__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post16__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post17
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
                position: relative;
        .post17__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post17__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post17__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post17__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post17__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post18
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        .post18__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post18__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post18__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post18__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post18__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post19
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        .post19__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post19__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post19__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post19__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post19__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post20
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        .post20__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post20__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post20__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post20__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post20__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post21
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        .post21__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post21__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post21__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post21__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post21__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post22
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        .post22__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post22__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post22__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post22__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post22__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post23
      {
        background: #FFFFFF;
        width: 400px;
        height: 200px;
        position: relative;
        .post23__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post23__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post23__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post23__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post23__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
      .posts__post24
      {
        background: #FFFFFF;
        width: 200px;
        height: 200px;
        position: relative;
        .post24__elements__pp
        {
          width: 3vw;
          position: absolute;
          top: 1%;
          left: 5%;
          border-radius: 50%;
        }
        .post24__elements__atsign
        {
          color: #38D0FF;
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 1%;
        }
        .post24__elements__text
        {
          font-family: 'Josefin Sans',sans-serif;
          position: absolute;
          left: 26%;
          top: 12%;
          font-size: 0.7rem;
        }
        .post24__img
        {
          position: absolute;
          width: 77%;
          left: 11%;
          top: 23%;
          z-index: 0;
          height: 62%;
        }
        .post24__elements__likes
        {
          display: flex;
          justify-content: space-around;
          width: 100%;
          bottom: -19%;
          position: absolute;
          font-family: 'Josefin Sans',sans-serif;
          font-size: 0.5rem;
          p 
          {
            font-family: 'Josefin Sans',sans-serif;
          }
        }
      }
    }
  }

  /* Footer */

  footer
  {
    position: absolute;
    bottom: -56vh;
    left: 23.5vw;
    width: 70vw;
    ul
    {
      display: flex;
      justify-content: space-between;
      li 
      {
        font-family: 'Josefin Sans',sans-serif;
        color: #fff;
        list-style: none;
        text-transform: capitalize;
        z-index: 666;
        a
        {
          text-decoration: none;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}


/***
*
** Landing page begining **
*
***/

.body--landing
{
  background-image: url(../src/background_space.png);
  background-repeat: no-repeat;
  background-size: 100%;

  header
  {
    position: relative;
    .logo
    {
      width: 60px;
      display: block;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    h3
    {
      color: #FFF;
      font-family: Josefin Sans;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 1rem;
      text-align: center;
    }
    .button--fixed
    {
      width: 25%;
      margin: auto;
      transform: translateY(600%);
      p
      {
        text-align: center;
        font-family: Bungee;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
      }
      a
      {
        text-align: center;
        font-family: Bungee;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-decoration: none;
      }
      .register__interrogation
      {
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.2rem;
        transform: translateY(20px);
      }
      .button__register
      {
        background: #F87D42;
        width: 100%;
        border-radius: 50px;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        cursor: pointer;
        a
        {
          color: #FFF;
          font-size: 2rem;
          text-align: center;
        }
      }
      .button__register:hover
      {
        background: #FFF;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        a
        {
          color: #F87D42;
        }
      }
      .button__connexion
      {
        background: #FFF;
        transform: translateY(40px);
        border-radius: 40px;
        width: 80%;
        margin: auto;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        p
        {
          font-size: 1.2rem;
          color: #F87D42;
        }
      }
      .button__connexion:hover
      {
        background: #F87D42;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        p
        {
          color: #FFF;
        }
      }
    }
    .img--fixed
    {
      position: absolute;
      z-index: -2;
     // left: 17%;
      top: 320%;
      img
      {
        width: 100%;   
      }
    }
  }
  main
  {
    z-index: -1;
    .section--default
    {
      position: relative;
      width: 100%;
      display: block;
      height: 100vh;
      .text-container--default
      {
        width: 60%;
        margin: auto;
        position: relative;
        img
        {
        position: absolute;
        z-index: -1;
        }
        p
        {
          font-family: Josefin Sans;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          text-align: center;
          font-size: 1.5rem;
          width: 70%;
          margin: auto;
          .important
          {
            color: #F87D42;        
          }
          .important--red
          {
            color: rgb(230, 48, 75);
          }
          .important--bold
          {
            font-weight: bold;
          }
        }
      } 
      .men--default
      {
        width: 35%;
      }
      .men--right
      {
        position: absolute;
        left: 65%;
        bottom: 5%;
      }
    }
    .section--step1
    {
      .step1__text
      {
        img
        {
          display: block;
        }
        h3
        {
          font-family: Bungee;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 3rem;
          color: #F87D42;     
          text-align: center;
          -webkit-transform: translateY(270%);
          -moz-transform: translateY(270%);
          -ms-transform: translateY(270%);
          -o-transform: translateY(270%);
          transform: translateY(270%);
        }
      }
    }
    .section--step2
    {
      .step2__text
      {
          p
          {
            -webkit-transform: translateY(45%);
            -moz-transform: translateY(45%);
            -ms-transform: translateY(45%);
            -o-transform: translateY(45%);
            transform: translateY(45%);
          }
      }
    }
    .section--step3
    {
      .step3__text
      {
        p
        {
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%);
        }
      }
    }
    .section--step4
    {
      .step4__text
      {
        p
        {
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%);
        }
      }
    }
    .section--step5
    {
      .step5__text
      {
        p
        {
          -webkit-transform: translateY(155%);
          -moz-transform: translateY(155%);
          -ms-transform: translateY(155%);
          -o-transform: translateY(155%);
          transform: translateY(155%);
        }
      }
    }
    .section--step6
    {
      .step6__text
      {
        p
        {
          -webkit-transform: translateY(80%);
          -moz-transform: translateY(80%);
          -ms-transform: translateY(80%);
          -o-transform: translateY(80%);
          transform: translateY(80%);
          font-size: 2rem;
        }
      }
    }
  }
}


/***
*
** Landing page end **
*
***/


/***
*
** register page begening **
*
***/

.body--registration
{
  background-image: url(../src/background_space.png);
  background-repeat: no-repeat;
  background-size: 100%;

  main
  {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .section--default
    {
      position: absolute;
      background-color: #FFF; 
      border: solid 2px #fff;
      width: 50%;
      top: 20%;
      margin: auto;
      border-radius: 20px;
    //  float: left;
      .header--default
      {
        width: 80%;
        height: 50px;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        .header__back
        {
          background: #838383;
          width: 20%;
          height: 30px;
          border-radius: 50px;
          transition-property: all;
          transition-duration: 0.4s;
          transition-timing-function: ease;
          p
          {
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            -webkit-transform: translateY(10%);
            -moz-transform: translateY(10%);
            -ms-transform: translateY(10%);
            -o-transform: translateY(10%);
            transform: translateY(10%);
            span
            {
              font-size: 1.5rem;
              font-weight: bold;
            }
          }
        }
        .header__back:hover
        {
          background-color: #fff;
          border: solid 2px #838383;
          cursor: pointer;
          transition-property: all;
          transition-duration: 0.4s;
          transition-timing-function: ease;
          p
          {
            color: #838383;
          }
        }
        .header__logo
        {
          width: 50px;
          margin: auto;
        }
        .header__button
        {
          background-color: #00136C;
          width: 20%;
          height: 30px;
          border-radius: 50px;
          transition-property: all;
          transition-duration: 0.4s;
          transition-timing-function: ease;
          p
          {
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            display: block;
            font-size: 1rem;
            color: #fff;
            text-decoration: none;
            text-align: center;
            -webkit-transform: translateY(50%);
            -moz-transform: translateY(50%);
            -ms-transform: translateY(50%);
            -o-transform: translateY(50%);
            transform: translateY(50%);
          }
        }
        .header__button:hover
        {
          background-color: #fff;
          border: solid 2px #00136C;
          cursor: pointer;
          transition-property: all;
          transition-duration: 0.4s;
          transition-timing-function: ease;
          p
          {
            color: #00136C;
          }
        }
      }
      .content--default
      {
        clear: both;
        width: 80%;
        margin: auto;
        .title--default
        {
          font-family: Josefin Sans;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 1.5rem;
          margin-bottom: 20px;
        }
      }
    }
    .section--step1
    {
      left: 25%;
      .step1__header
      {
        .header__back
        {
          p
          {
            a
            {
              text-decoration: none;
            }
          }
        }
      }
      .step1__content
      {
        form
        {
          input
          {
            background-color: #E8F5F9;
            width: 100%;
            border-bottom: 3px solid #80BEB6;
            height: 6vh;
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 1.1rem;
            color: #838383;
            margin-bottom: 30px; 
          }
          select
          {
            background-color: #E8F5F9;
            width: 100%;
            height: 6vh;
            border-bottom: 3px solid #80BEB6;
            color: #838383;
            margin-bottom: 30px;
            option
            {
              font-family: Josefin Sans;
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
    .section--step2
    {
      transform: translateX(200%);
      .step2__content
      {
        .step2__circle
        {
          height: 200px;   
          width: 200px;
          border-radius: 100%;
          background: #E8F5F9;
          border: 2px solid #A7D3CF;
          margin: auto;
          margin-top: 50px;
        }
        .step2__circle:hover
        {
          cursor: pointer;
        }
        .content__button
        {
          background-color:  #F87D42; 
          width: 30%;
          height: 30px;
          border-radius: 50px;
          margin: auto;
          margin-bottom: 40px;
          margin-top: 20px;
          p
          {
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 1rem;
            text-align: center;
            color: #FFFFFF;
            -webkit-transform: translateY(50%);
            -moz-transform: translateY(50%);
            -ms-transform: translateY(50%);
            -o-transform: translateY(50%);
            transform: translateY(50%);
          }
        }
        .content__button:hover
        {
          cursor: pointer;
        }
      }
    }
    .section--step3
    {
      width: 70%;
      transform: translateX(200%);
      .step3__content
      {
        .content--form
        {
          display: flex;
          justify-content: space-between;
        }   
        input
        {
          background-color: #E8F5F9;
          width: 100%;
          border-bottom: 3px solid #80BEB6;
          height: 6vh;
          font-family: Josefin Sans;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 1.1rem;
          color: #838383;
          margin-bottom: 30px; 
        } 
        .content--left
        {
          width: 45%;
          position: relative;
          .form--info
          {
            position: relative;
            cursor: help;
            .info
            {
              position: absolute;
              left: 90%;
              top: 10%;
              width: 20px;
              height: 20px;
              border-radius: 100%;
              border: 2px solid #80BEB6;
              p
              {
                font-family: Josefin Sans;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 1.2rem;
                text-align: center;
                color: #80BEB6;
              }
            }
          }
          .info--hidden
          {
            position: absolute;
            background-color: #fff;
            width: 55%;
            border: 1px solid #B4B4B4;
            border-radius: 7px;
            padding: 20px;
          }
          .hidden-1
          {
            top: -20%;
            left: 95%;
            display: none; 
          }
          .show-1
          {
            top: -20%;
            left: 95%;
            display: block;
          }
          .hidden-2
          {
            top: 40px;
            left: 95%;
            display: none;
          }
          .show-2
          {
            top: 40px;
            left: 95%;
            display: block;
          }
        } 
        .content--right
        {
          width: 45%;
        }
        .clear
        {
          clear: both;
        }
      }
    }
    .section--step4
    {
      transform: translateX(200%);

      .step4__content
      {
        .step4__title
        {
          margin-bottom: 40px;
          text-align: center;
        }
        p{
          font-family: Josefin Sans;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 1.3rem;
          text-align: center;
          margin-bottom: 35px;
          span
          {
            color: #F87D42;
          }
        }
      }
    }
    .section--step5
    {
      transform: translateX(200%);
      #dropFileForm {
        margin: 16px;
        text-align: center;
        border-radius: 8px;
        overflow: hidden;
        transition: 0.5s;
      }
      
      #dropFileForm #fileLabel {
        background-color: #F87D42;
        display: block;
        padding: 16px;
        position: relative;
        cursor: pointer;
      }    
      #dropFileForm #fileInput {
        display: none;
      }      
      #dropFileForm #fileLabel:after,
      #dropFileForm #fileLabel:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: -2;
        border-radius: 8px 8px 0 0;
      }    
      #dropFileForm #fileLabel:before {
        z-index: -1;
        background: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 5%,
          black 5%,
          black 10%
        );
        opacity: 0;
        transition: 0.5s;
      }  
      #dropFileForm.fileHover #fileLabel:before {
        opacity: 0.65;
      }     
      #dropFileForm .uploadButton {
        border: 0;
        outline: 0;
        width: 100%;
        padding: 8px;
        background-color: rgb(199, 79, 9);
        color: #fff;
        cursor: pointer;
      }    
      #dropFileForm.fileHover {
        box-shadow: 0 0 16px rgb(199, 79, 9);
      }    
      .step5__file
      {
        .file__img
        {
          display: block;
          width: 15%;
          margin: auto;
        }
      }
      .step5__content
      {
        p
        {
          font-family: Josefin Sans;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 40px;
          span
          {
            color: #F87D42;
            font-weight: bold;
          }
          .important--red
          {
            color: rgb(230, 48, 75);
          }
        }
        .step5__file
        {
          border: dashed 3px #F87D42;
          border-radius: 30px;
          margin-bottom: 25px;
          .file__button
          {
            width: 30%;
            height: 25px;
            background-color: #F87D42;
            border-radius: 25px;
            margin: auto;
            margin-bottom: 20px;
            form
            {
              transform: translateY(13%);
            }
            label
            {
              color: #fff;
              -webkit-transform: translateY(30%);
              -moz-transform: translateY(30%);
              -ms-transform: translateY(30%);
              -o-transform: translateY(30%);
              transform: translateY(30%);
              font-family: Josefin Sans;
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 1.2rem;
              text-align: center;
            }
          }
        }
        .content__button
        {
          width: 40%;
          height: 35px;
          background: #00136C;
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
          border-radius: 50px;
          cursor: pointer;
          margin: auto;
          margin-bottom: 20px;
          p
          {
            color: #fff;
            font-family: Bungee;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 1.5rem; 
            -webkit-transform: translateY(15%);
            -moz-transform: translateY(15%);
            -ms-transform: translateY(15%);
            -o-transform: translateY(15%);
            transform: translateY(15%);
          }
        }
        .content__button:hover
        {
          background: #FFF;
          border: solid 2px #00136C;
          transition-property: all;
          transition-duration: 0.4s;
          transition-timing-function: ease;
          p
          {
            color: #00136C;
          }
        }
      }
    }
    .section--step6
    {
      transform: translateX(350%);
      width: 30%;
      .step6__content
      {
        .step6__title
        {
          text-align: center;
        }
        p
        {
          width: 80%;
          margin: auto;
          text-align: center;
          font-family: Josefin Sans;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 1.2rem;
          margin-bottom: 20px;
          span
          {
           color: #F87D42;
          }
        }
        .content__button
        {
          width: 60%;
          height: 35px;
          background: #00136C;
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
          border-radius: 50px;
          cursor: pointer;
          margin: auto;
          margin-bottom: 20px;
          p
          {
            color: #fff;
            font-family: Bungee;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 1rem; 
            -webkit-transform: translateY(40%);
            -moz-transform: translateY(40%);
            -ms-transform: translateY(40%);
            -o-transform: translateY(40%);
            transform: translateY(40%);
            a
            {
              text-decoration: none;
            }
          }
        }
        .content__button:hover
        {
          background: #FFF;
          border: solid 2px #00136C;
          transition-property: all;
          transition-duration: 0.4s;
          transition-timing-function: ease;
          p
          {
            color: #00136C;
          }
        }
      }
    }
    .section--step7
    {
      transform: translateX(200%);
      background-color: #00136C;
      border: solid 5px #fff;
      width: 80%;
      margin: auto;
      padding-top: 40px;
      p
      {
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        span
        {
          font-weight: bold;
          color: #F87D42;
        }
      }
    }
  }
}
/***
*
** register page end **
*
***/

