body {
  position: relative;
  margin: 0;
  height: 200vh;
  background: #FFFFFF;
}

.container {
  position: relative;
}

/* Nav Bar */
.container__navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 16vh;
  background: #F87D42;
}
.container__navbar .navbar__research {
  margin-left: 28%;
  width: 17vw;
  height: 5vh;
  background: #fff;
  border: 2px #000000 solid;
}
.container__navbar .navbar__research input {
  outline: 0;
  border: 0;
  margin: 0;
  height: 24px;
  float: left;
  display: block;
}
.container__navbar .navbar__research input[type=text] {
  font: 300 12px 'Josefin Sans', sans-serif;
  background: none;
  width: 180px;
  padding: 0 9px;
  color: #666;
}
.container__navbar .navbar__loupe {
  font-size: 2em;
  display: inline-block;
  width: .4em;
  box-sizing: content-box;
  height: .4em;
  border: .1em solid black;
  position: relative;
  border-radius: .35em;
  margin-left: 1vw;
}
.container__navbar .navbar__loupe::before {
  font-size: 2em;
  display: inline-block;
  width: .4em;
  box-sizing: content-box;
  height: .4em;
  border: .1em solid #000;
  position: relative;
  border-radius: .35em;
  margin-left: 1vw;
  margin-bottom: 1vh;
}
.container__navbar .navbar__logo {
  width: 3vw;
  height: 7vh;
  border-radius: 50%;
  margin-left: 12%;
  border: 2px solid #fff;
}
.container__navbar .navbar__profil {
  width: 3vw;
  height: 7vh;
  border-radius: 50%;
  margin-left: 31%;
  border: 2px solid #DB3951;
}

/* Side Bar */
.container__sidebar {
  position: fixed;
  width: 21vw;
  z-index: 2;
  overflow-y: scroll;
  height: 100%;
  background: #1a1a1a;
}
.container__sidebar .sidebar__avatarpicture {
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  margin: auto;
  width: 24vmin;
  height: 25vmin;
  border: 3px solid #c3f1ff;
  border-radius: 50%;
}
.container__sidebar .sidebar__avatarpicture .avatarpicture__pseudo {
  font-family: 'Josefin Sans',sans-serif;
  color: #fff;
  margin: auto 0;
  transform: translateY(18vh);
  font-size: 1em;
}
.container__sidebar .sidebar__topics {
  margin-top: 85%;
  font-size: 1.56rem;
}
.container__sidebar .sidebar__topics ul li {
  font-family: 'Josefin Sans',sans-serif;
  color: #fff;
  list-style: none;
  padding: 9vh 0;
  margin: auto 0;
  border-top: 2px solid #fff;
  height: 22vh;
}
.container__sidebar .sidebar__topics ul li a {
  margin-left: 12%;
  text-decoration: none;
}
.container__sidebar .sidebar__topics ul .topics__mytopics {
  background: #DB3951;
}
.container__sidebar .sidebar__topics ul .topics__myclubs {
  background: #F87D42;
}

/* Main */
.main {
  width: 79vw;
  height: auto;
  position: absolute;
  left: 21vw;
  top: 16vh;
  display: flex;
  justify-content: center;
  z-index: -6;
}
.main .main__backgroundimg {
  width: 100%;
  z-index: -222;
  height: 1%;
}
.main .main__spacemanimg {
  position: absolute;
  left: -32%;
  top: 2%;
  width: 220%;
  height: 29%;
  z-index: 222;
}
.main .main__title {
  position: absolute;
  background: #00123f;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 36px;
  width: 42vw;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16vh;
}
.main .main__title h2 {
  font-family: "Bungee",sans-serif;
  font-size: 2.8rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}

::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
